.nav {
    padding: 10px;
    grid-area: n;
    background-color: white;
    font-size: 35px;
    a {
        color: #3eb489;
    }
    ul {
        li {
            .active {
                color: green;
            }
        }
    }
}
